<.flash_group flash={@flash} />
<div class="flex items-center justify-center h-[220px]">
  <h1 class="font-brand font-bold text-3xl text-white">Compartilhe instantaneamente códigos, notas e snippets de Elixir</h1>
</div>
